.section-slider {
  --swiper-navigation-size: 1.25rem;
  width: 100%;
  padding: 0.125rem 0.875rem;
  box-sizing: border-box;
}

.section-slider .swiper-button-prev {
  left: 0;
}

.section-slider .swiper-button-next {
  right: 0;
}

@media (min-width: 768px) {
  .section-slider {
    --swiper-navigation-size: 1.5rem;
    padding: 0.125rem 1.875rem;
  }
}